In [7]:
#pip install mysql-connector-python

In [1]:
## Create a connection to MySQL server

import mysql.connector as connector
connection = connector.connect(user="root", password="password", db = "LittleLemonDB")
cursor = connection.cursor()

In [2]:
## SQL Query to retrieve the tables in the schema

show_tables_query = "SHOW tables;" 
cursor.execute(show_tables_query)

results = cursor.fetchall()
print(results)

[('bookings',), ('customer',), ('employees',), ('menuitems',), ('menus',), ('order_delivery_status',), ('orders',)]

In [5]:
## Stored SQL query as a Python string
## JOIN is used, but you can use a virtual table that includes the required attributes as well.
## This statement will return the customer who spent more than $60 in total.

cus_cost = """
SELECT C.Customer_name, C.Contact, O.Quantity * O.Cost AS Total_Cost
FROM Customer AS C JOIN Orders AS O ON C.CustomerID = O.CustomerID
WHERE O.Quantity*O.Cost > 60;
"""

In [6]:
cursor.execute(cus_cost)
results = cursor.fetchall()

## Printing the results with the column names.
columns = [column[0] for column in cursor.description]
print(columns)
print(results)

['Customer_name', 'Contact', 'Total_Cost']
[('Misaki Ogura', '206-989-9995', 200)]