In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lmfhy\appdata\local\programs\python\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lmfhy\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector
connection = connector.connect(user="root", password="Alsgud0330@", db = "LittleLemonDB")
cursor = connection.cursor()

In [3]:
show_tables_query = "SHOW tables;" 
cursor.execute(show_tables_query)

results = cursor.fetchall()
print(results)

[('bookings',), ('customer',), ('employees',), ('menuitems',), ('menus',), ('order_delivery_status',), ('orders',)]

In [8]:
cus_cost = """
SELECT C.Customer_name, C.Postal_Code, O.Quantity * O.Cost AS Total_Cost
FROM Customer AS C JOIN Orders AS O ON C.CustomerID = O.Custome
WHERE O.Quantity*O.Cost > 60;
"""

In [9]:
cursor.execute(cus_cost)
results = cursor.fetchall()
print(results)

ProgrammingError: 1054 (42S22): Unknown column 'O.Custome' in 'on clause'